<div class="col-9" *ngIf="!activeNewQuestion">
  <form [formGroup]="testForm">
    <div class="form-group">
      <label for="testName">Test name</label>
      <input type="text" class="form-control" formControlName="testName">
    </div>
    </form>
    <table *ngIf="editTest && createdTest" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Question Code</th>
          <th scope="col">Question</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qst of createdTest.questions">
          <td ><quill-view-html [content]="qst.code"></quill-view-html></td>
          <td ><quill-view-html [content]="qst.question"></quill-view-html></td>
          <td><button type="button" class="btn btn-warning btn-sm" (click)="removeQuestion(qst)">remove</button></td>
          <td><button type="button" class="btn btn-success btn-sm" (click)="editQuestion(qst.question_id)">edit</button></td>
        </tr>
      </tbody>
    </table>
    <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button *ngIf="editTest || !testForm.touched" class="btn btn-outline-success flex-sm-fill text-sm-center"
        (click)="updateTest()">Update test</button>
        <button *ngIf="!editTest && !createTest" class="btn btn-outline-success flex-sm-fill text-sm-center" [disabled]="!testForm.valid"
        (click)="createTestName()">Create test</button>
      <button *ngIf="editTest" class="btn btn-outline-primary flex-sm-fill text-sm-center" (click)="createQuestion()">Add new question</button>
      <button *ngIf="editTest" class="btn btn-outline-primary flex-sm-fill text-sm-center" (click)="allQuestions()">Show questions</button>
    </div>
    <table *ngIf="myQuestions && editTest" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Question Code</th>
          <th scope="col">Question</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qst of myQuestions.questions">
          <td ><quill-view-html [content]="qst.code"></quill-view-html></td>
          <td ><quill-view-html [content]="qst.question"></quill-view-html></td>
          <td><button type="button" class="btn btn-info btn-sm" (click)="addQuestion(qst)">add</button></td>
          <td><button type="button" class="btn btn-success btn-sm"(click)="editQuestion(qst.question_id)">edit</button></td>
        </tr>
      </tbody>
    </table>
</div>
<div class="col-9">
  <app-question-edit *ngIf="activeNewQuestion" [questionId]="questionId" (sendQuestion)="getNewQuestion($event)"></app-question-edit>
</div>
