<div class="container-fluid">
    <div class="row">
      <app-admin-nav class="sidebar"></app-admin-nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <div class="col-md-9">
            <table *ngIf="userList"  class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Authority</th>
                    <th scope="col">Authority</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userList.users" [ngSwitch]="user.auth_level">
                    <td>{{user.user_name}}</td>
                    <td>{{user.email}}</td>
                    <td *ngSwitchCase="1">Admin</td>
                    <td *ngSwitchCase="2">Teacher</td>
                    <td *ngSwitchDefault >Student</td>
                    <td><select class="form-control form-control-sm">
                        <option>None</option>
                        <option [value]="1" >Admin</option>
                        <option [value]="2">Teacher</option>
                      </select>
                   </td>
                  </tr>
                </tbody>
              </table>
         </div>
      </main>
    </div>
  </div>