<div class="container" *ngIf="test">
  <h5>{{test.test_name}}</h5>
  <div class="row">
    <div class="col" *ngFor="let question of test.questions; let i=index">
      <div class="form-check">
        <p>{{question.question}}</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let answer of question.options">
            <input class="form-check-input" type="radio" name="{{question.question_id}}" [id]="i"
              value="{{answer.is_true}}" (change)="selectedAnswer($event)">
            {{answer.answer}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="resultActive">
      <hr>
      <p>Number of question : {{testLenght}}</p>
      <p>True answer : {{trueAnswers}}</p>
    </div>
  <hr>
  <button class="btn btn-primary btn-lg" [disabled]="resultActive" (click)="testResult();">Result</button>
  <button class="btn btn-primary btn-lg" [disabled]="!resultActive" (click)="resetTest();">Reset</button>
  <hr>
</div>