<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Students
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Courses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="col-md-8" style="padding: 15px">
      <div style="padding: 15px">
      <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="btn btn-outline-primary flex-sm-fill text-sm-center" (click)="createForm()">Create Course</button>
      </div>
    </div>
      <div class="col-8" style="padding: 15px" *ngIf="createNew">
        <form class="form-signin" [formGroup]="createCourseForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleFormControlInput1">Course Name</label>
            <input type="text" class="form-control" formControlName="courseName" placeholder="Course Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Course Description</label>
            <textarea class="form-control" formControlName="courseDescription" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="!createCourseForm.valid">Save
            Course</button>
        </form>
      </div>
      <div class="row" *ngIf="getLoadCourse && !createNew">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Course name</th>
                  <th scope="col">Course description</th>
                  <th scope="col">Course edit</th>
                  <th scope="col">Course delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let crs of getLoadCourse.games">
                  <td>{{crs.game_name}}</td>
                  <td>{{crs.game_description}}</td>
                  <td><button type="button" class="btn btn-outline-success" (click)="goCourseEdit(crs.game_id)">Edit
                      course</button></td>
                  <td><button type="button" class="btn btn-outline-danger" (click)="deleteCourse(crs.game_id)">Delete
                      course</button></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </main>
    <hr>
  </div>
</div>
<!--/.container-->