<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Red Apple</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses">Courses</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="course-create" *ngIf="isLoggedIn && userRole == 'teacher' || userRole == 'admin'">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" *ngIf="isLoggedIn && userRole == 'admin'">Administration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-courses" *ngIf="isLoggedIn && userRole != 'admin'">My Courses</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">User Settings</a>
        <div class="dropdown-menu" x-placement="bottom-start"
          style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
          <a class="dropdown-item" routerLink="/user">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logOut()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>