<div class="col-9">
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="subject">Subjects</label>
          <select class="form-control" formControlName="subject" *ngIf="subjects">
          <option *ngFor="let subject of subjects.subjects" [value]="subject.subject_id">{{subject.subject_name}}</option>
          </select>
        </div>
    <div class="form-group">
      <label for="questionCode">Question code</label>
      <input type="text" class="form-control" formControlName="questionCode">
    </div>
    <div class="form-group">
      <label for="question">Question</label>
      <quill-editor formControlName="question"></quill-editor>
    </div>
    <div formArrayName="options" *ngFor="let arrayItem of questionForm.get('options').controls; let i=index">
      <div class="form-group" [formGroupName]="i">
        <label for="answer">Answer</label>
        <quill-editor formControlName="answer">
          <div quill-editor-toolbar>
            <span class="ql-formats">
              <button class="ql-formula"></button>
            </span>
          </div>
        </quill-editor>
        <div class="form-check">
          <input formControlName="is_true" class="form-check-input" type="checkbox" value="true">
          <label class="form-check-label" for="isTrue">Is true</label>
        </div>
      </div>
      <button type="button" class="btn btn-warning" (click)="removeAnswer(i)">Remove answer</button>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="!editMode" [disabled]="!questionForm.valid">Submit</button>
    <button type="button" class="btn btn-primary" *ngIf="editMode" [disabled]="!questionForm.valid" (click)="updateQuestion()">Update</button>
    <button type="button" class="btn btn-primary" (click)="addAnswer()">Add answer</button>
  </form>
</div>